.portada {
	height: 100%;
	width: 100%;
	background-color: #401665;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icono__logoLineasBlanco {
	position: absolute;
	width: 40%;
	height: auto;
}


.icono__logoColorBlanco {
	position: absolute;
	width: 40%;
	height: auto;
}

.icono__lema {
	position: absolute;
	width: 70%;
    height: 50vh;
}







