.lema {
	fill:#FFFFFF;
}

.apple {
	fill:none;
	stroke:#FFFFFF;
	stroke-width:3;
	stroke-miterlimit:10;
}

.iconoLineas {
	fill:none;
	stroke:#FFFFFF;
	stroke-width:4;
	stroke-miterlimit:10;
	// opacity: 0;
}

.iconoColor {
	fill:#FFFFFF;
	// opacity: 0;
}

.logoLineas__morado {
	fill: none;
	stroke: #401665;
	stroke-width: 3;
	stroke-miterlimit: 10;
}

.logoLineas__magenta {
	fill: none;
	stroke: #B5006B;
	stroke-width: 3;
	stroke-miterlimit: 10;
}


.logoColor__st0{fill:#401665;}
.logoColor__st1{fill:url(#SVGID_1_);}
.logoColor__st2{fill:url(#SVGID_2_);}
.logoColor__st3{fill:#B5006B;}
.logoColor__st4{fill:#C5C5C5;}
.logoColor__st5{fill:#640057;}
.logoColor__st6{fill:#780057;}
.logoColor__st7{fill:#960057;}
.logoColor__st8{fill:url(#SVGID_3_);}
.logoColor__st9{fill:url(#SVGID_4_);}



.logolineas__blancas {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 3;
	stroke-miterlimit: 10;
}

.logoColorBlancas__blanco {
	fill: #FFFFFF;
}
.logoColorBlancas__oxford {
	fill: #9C9B9B;
}

.lineaHorizontal {
	fill: none;
	stroke: #fbfbfb;
	stroke-width: 1;
	stroke-miterlimit: 10;
}

.lineaVertical {
	fill: none;
	stroke: #fbfbfb;
	stroke-width: 1;
	stroke-miterlimit: 10;
}

.afinidad,
.riesgos,
.fianzas {
	fill:none;
	stroke:#E44988;
	stroke-width:6;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}






